.containerCalculatorDiv {
    display: flex;
    max-height: fit-content;
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 10rem;
    flex-flow: column;
    outline: 5px solid black;
    border-radius: 2%;
}



.calculatorHeaderDiv {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    max-width: 12.5rem;
    overflow: hidden;
}

.calculatorNumbersArrowDisplayDiv {
    display: flex;
    flex: 1;
    max-width: fit-content;
    justify-content: center;
    margin: 0 0;
    margin-left: 1rem;
}

.calculatorNumbersDisplayDiv {
    display: flex;
    flex: 1;
    max-width: fit-content;
    justify-content: center;
    margin: 0 auto;

}




.calculatorButtonsDiv {
    display: flex;
    flex: 1;
    max-width: fit-content;
    outline: 2px solid gray;
    gap: 0.5rem;
    padding: 1rem 1rem;

}



.calculatorButtonsNumbersDiv {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 0.5rem;
    row-gap: 0.3rem;
    cursor: default;

}

.calculatorButtonNumber {
    cursor: pointer;
}

.calculatorButtonNumber0Div {
    display: flex;
    justify-content: center;
}




.calculatorButtonsOperatorsDiv {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: 0.2rem;
}

.calculatorButtonOperator {
    min-width: 5rem;
    max-height: 3rem;
    cursor: pointer;
    flex-flow: column;
}

.calculatorButtonOperatorClear {
    min-width: 5rem;
    max-height: 3rem;
    margin-top: 2rem;
    cursor: pointer;
    flex-flow: column;
}

.calculatorButtonOperatorClear:hover {
    background-color: rgb(255, 83, 83);
    border-radius: 5px;
}

.calculatorButtonOperatorEqual {
    min-width: 5rem;
    max-height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    justify-content: space-around;
}