.mainDiv {
    display: flex;
    max-height: fit-content;
    width: auto;
    max-width: fit-content;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5vw;
    outline: 2px solid black;
    flex-flow: column;
}


.startGameDiv {
    display: flex;
    outline: 2px solid black;
}

.startGameButton {
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.playerNameInput {
    display: flex;

    flex-direction: column;
    column-gap: 20px;
    margin-top: 20%;
}

.playerInputLabel {}

.playerInput {}

.playerSubmitButton {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}


.useruidiv {
    display: flex;
    outline: 2px solid black;
    flex-direction: column;
}
.rows{
    display: grid;
    

    outline: 2px solid black;
    grid-template-columns: 10vw 10vw 10vw;
}

.gridBox{
    display: flex;
    flex-grow: 1;
    background-color: blue;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
    
}

.gridText{    
    display: flex;
    height: 100%;
}

.scorediv {
    display: flex;
    outline: 2px solid black;
}