.mainDiv {
    display: flex;

    width: auto;
    max-height: fit-content;
    max-width: fit-content;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2.5vw;
    outline: 2px solid black;
    flex-flow: column;
}


.startGameDiv {
    display: flex;
    outline: 2px solid black;
}

.startGameButton {
    cursor: pointer;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}
.resetGameButton{
    cursor: pointer;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}
.resetGameButton:hover{
    border-radius: 5px;
    background-color: rgb(221, 40, 40);
}

.playerNameInput {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    column-gap: 20px;
    margin-top: 20%;
    margin-bottom: 5%;
}

.playerInputLabel {}

.playerInput {}

.playerSubmitButton {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}


.useruidiv {
    display: flex;
    outline: 2px solid black;
    flex-direction: column;
}

.rows {
    display: grid;

    outline: 2px solid black;
    grid-template-columns: 10vw 10vw 10vw;
    max-width: fit-content;
    margin: 0 auto;

}

.gridBox {
    display: flex;
    flex-grow: 1;
    background-color: blue;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
    min-height: 10rem;
    min-width: 100%;
}

.gridText {
    display: flex;
    font-size: 50px;
    margin: auto 0;
}

.scoreDiv {
    display: flex;
    margin: 0 auto;

}

#resultDisplay {}


.beforeNameWrap{
    display: none;
}
.afterNameWrap{
    display: none;
    flex-direction: column;
}