.mainDiv {
    display: flex;
    flex-flow: column;


    margin-top: 1rem;
    outline: 2px solid black;



}

.formHeaderDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    max-height: fit-content;
}

.formDialog {
    border-radius: 10px;
}


.addBookButton {
    cursor: pointer;
    padding: 1rem;
}

.formDiv {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding-top: 2%;
    justify-content: start;
    padding: 2rem;
}

.dialogButtons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#confirmFormButton {
    margin-left: 3rem;
}

#myLibraryNameDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}


.myLibrary {
    display: inline-grid;
    border-top: 2px solid black;

    grid-template-columns: repeat(auto-fill, 33vw);

    text-align: center;
    justify-content: center;
    max-height: fit-content;
}

.bookItems {
    margin: 1rem;
    border: 2px solid black;
    max-height: fit-content;
    overflow: auto;

}

.delete-btn {
    cursor: pointer;
    padding: 0.3rem 0.6rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}